name: Arduino RAK Library Validation

on:
  workflow_call:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run arduino-lint
        uses: arduino/arduino-lint-action@v2
        with:
          library-manager: update
          project-type: library

  build_test:
    name: Build and Test
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.x'
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: Lualtek/workflows
          path: ci
      - name: Install Arduino CLI
        uses: arduino/setup-arduino-cli@v2
      - name: Install platform
        run: |
          arduino-cli core update-index
          arduino-cli core install ${{ matrix.arduino-platform }}
          ./ci/scripts/devices/rak/actions_install.sh
          python3 ci/scripts/devices/rak/install_rak_platform.py rak_platforms_rui-test

